.css-emoticon {
  font-size: 0px;
  display:inline-block;
  height:16px;
  width: 18px;
  vertical-align:middle;
}

.smile{
  background: url('smilies/sprites.png');
  background-position: -16px -18px ;
  width: 15px;
  height: 15px;
}
.twisted {
  background: url('smilies/sprites.png');
  background-position: -68px -118px ;
  width: 15px;
  height: 15px;
}
.biggrin{
  background: url('smilies/sprites.png');
  background-position: -69px -18px ;
  width: 15px;
  height: 15px;
}
.sad{
  background: url('smilies/sprites.png');
  background-position: -116px -18px ;
  width: 15px;
  height: 15px;
}

.eek{
  background: url('smilies/sprites.png');
  background-position: -167px -18px ;
  width: 15px;
  height: 15px;
}

.confused{
  background: url('smilies/sprites.png');
  background-position: -218px -18px ;
  width: 15px;
  height: 15px;
}

.cool{
  background: url('smilies/sprites.png');
  background-position: -16px -68px ;
  width: 15px;
  height: 15px;
}

.mad{
  background: url('smilies/sprites.png');
  background-position: -68px -68px ;
  width: 15px;
  height: 15px;
}

.razz{
  background: url('smilies/sprites.png');
  background-position: -118px -68px ;
  width: 15px;
  height: 15px;
}

.neutral{
  background: url('smilies/sprites.png');
  background-position: -168px -68px ;
  width: 15px;
  height: 15px;
}

.wink{
  background: url('smilies/sprites.png');
  background-position: -218px -68px ;
  width: 15px;
  height: 15px;
}

.evil{
   background: url('smilies/sprites.png');
  background-position: -15px -118px ;
  width: 15px;
  height: 15px;
}
