
.css-emoticon.arrow, .css-emoticon.biggrin, .css-emoticon.confused, .css-emoticon.cool, .css-emoticon.cry, 
.css-emoticon.eek, .css-emoticon.evil, .css-emoticon.exclaim, .css-emoticon.idea, .css-emoticon.lol, 
.css-emoticon.mad, .css-emoticon.mrgreen, .css-emoticon.neutral, .css-emoticon.question, .css-emoticon.razz, 
.css-emoticon.redface, .css-emoticon.rolleyes, .css-emoticon.sad, .css-emoticon.smile, .css-emoticon.surprised, 
.css-emoticon.twisted, .css-emoticon.wink
{ width:15px, height: 15px, display: inline-block; background: url('../images/download.gif') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.css-emoticon.arrow { background-position: -2px -0px; }
.css-emoticon.biggrin { background-position: -19px -0px; }
.css-emoticon.confused { background-position: -36px -0px; }
.css-emoticon.cool { background-position: -53px -0px; }
.css-emoticon.cry { background-position: -2px -17px; }
.css-emoticon.eek { background-position: -19px -17px; }
.css-emoticon.evil { background-position: -36px -17px; }
.css-emoticon.exclaim { background-position: -53px -17px; }
.css-emoticon.idea { background-position: -2px -34px; }
.css-emoticon.lol { background-position: -19px -34px; }
.css-emoticon.mad { background-position: -36px -34px; }
.css-emoticon.mrgreen { background-position: -53px -34px; }
.css-emoticon.neutral { background-position: -2px -51px; }
.css-emoticon.question { background-position: -19px -51px; }
.css-emoticon.razz { background-position: -36px -51px; }
.css-emoticon.redface { background-position: -53px -51px; }
.css-emoticon.rolleyes { background-position: -2px -68px; }
.css-emoticon.sad { background-position: -19px -68px; }
.css-emoticon.smile { background-position: -36px -68px; }
.css-emoticon.surprised { background-position: -53px -68px; }
.css-emoticon.twisted { background-position: -2px -85px; }
.css-emoticon.wink { background-position: -19px -85px; }

